<!DOCTYPE html>
<html>
  <head>
    <title>ResumoLivre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:swal].present? %>
      <script>
        (function(){
          var msg = "<%= j flash[:swal] %>";
          if (msg && window.Swal) { Swal.fire({ icon:'warning', title:'Atenção', text: msg }); }
        })();
      </script>
    <% else %>
      <%= render "shared/messages", show_devise_links: false %>
    <% end %>
    <%= yield %>
  </body>
</html>
